:root {
  --ColorPrincipal: #E54C2A;
  --ColorSecundario: #FFBF00;
  --ColorAcento: #28B463;
  --FondoBase: #FFF8E1;
  --TextoOscuro: #3A2F2B;
  --TextoClaro: #FFFFFF;
  --GrisNeutro: #8C8C8C;
}

  .banner {
    width: 100%;
    height: 90.5vh;
    background-image: url('../IMG/Banner.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


