:root {
  --ColorPrincipal:  #E54C2A;    
  --ColorSecundario: #FFBF00;   
  --ColorAcento:     #28B463;       
  --FondoBase:       #FFF8E1;         
  --TextoOscuro:     #3A2F2B;       
  --TextoClaro:      #FFFFFF;       
  --GrisNeutro:      #8C8C8C;     
}