:root {
  --ColorPrincipal: #E54C2A;
  --ColorSecundario: #FFBF00;
  --ColorAcento: #28B463;
  --FondoBase: #FFF8E1;
  --TextoOscuro: #3A2F2B;
  --TextoClaro: #FFFFFF;
  --GrisNeutro: #8C8C8C;
}

  .banner {
    width: 100%;
    height: 90.5vh;
    background-image: url('../IMG/Banner.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

   html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--FondoBase) !important;
  }

  .login-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;
  }

  .btn-spacing {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }